    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6">
                    <div class="row g-3">
                        <div class="col-6 text-end">
                            <img class="img-fluid bg-white w-100 mb-3 wow fadeIn" data-wow-delay="0.1s" src="img/about-1.jpg" alt="">
                            <img class="img-fluid bg-white w-50 wow fadeIn" data-wow-delay="0.2s" src="img/about-3.jpg" alt="">
                        </div>
                        <div class="col-6">
                            <img class="img-fluid bg-white w-50 mb-3 wow fadeIn" data-wow-delay="0.3s" src="img/about-4.jpg" alt="">
                            <img class="img-fluid bg-white w-100 wow fadeIn" data-wow-delay="0.4s" src="img/about-2.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <div class="section-title">
                        <p class="fs-5 fw-medium fst-italic text-primary">關於我們</p>
                        <h1 class="display-6">台灣本土專業沉香自營商，成功經營超過二十年以上</h1>
                    </div>
                    <div class="row g-3 mb-4">
                        <div class="col-sm-4">
                            <img class="img-fluid bg-white w-100" src="img/about-5.jpg" alt="">
                        </div>
                        <div class="col-sm-8">
                            <h5>極呈香的前身是「華嚴佛教文物館」，近捷運板南線(藍)的「捷運海山站」</h5>
                            <p class="mb-0">，本舖坐落於新北市土城區中央路一段171號。我們的沉香保證是國外產地直接進口，對原材料有嚴格品質管控，有天然野生的、也有人工培育的歡迎選購。</p>
                        </div>
                    </div>
                    <div class="border-top mb-4"></div>
                    <div class="row g-3">
                        <div class="col-sm-8">
                            <h5>每日品用一支沉香可讓身心得到舒坦與平靜，有助身體健康</h5>
                            <p class="mb-0">舉凡各種天然的沉香、沉香片、沉香珠、沉香粉末、臥香、立香、盤香、寺廟專用特殊規格香品…等，本舖都能提供。我們從沉香原料自行進口、專業的生產製造、批發、零售…整個產銷一條龍，故本舖是能夠自己掌控沉香、檀香品質的專業自營商。</p>
                        </div>
                        <div class="col-sm-4">
                            <img class="img-fluid bg-white w-100" src="img/about-6.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->