    <!-- Contact Start -->
    <div class="container-xxl contact py-5">
        <div class="container">
            <div class="section-title text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <p class="fs-5 fw-medium fst-italic text-primary">聯絡我們</p>
                <h1 class="display-6">現在就打電話聯絡我們</h1>
            </div>
            <div class="row justify-content-center wow fadeInUp" data-wow-delay="0.1s">
                <div class="col-lg-8">
                    <p class="text-center mb-5">極呈香的前身是「華嚴佛教文物館」，近捷運板南線(藍)的「捷運海山站」，<br />
                        地址:新北市土城區中央路一段171號，有展售各種香品及佛教用品。<br />
                        在苗栗縣頭屋鄉有本公司的加工工廠負責生產製造各種立香、盤香、臥香…等產品及倉儲各種國外進口原材料。<br />
                        歡迎 業界先輩及後進蒞臨本公司相互切磋指正。</p>
                    <div class="row g-5">
                        <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="0.3s">
                            <div class="btn-square mx-auto mb-3">
                                <i class="fa fa-envelope fa-2x text-white"></i>
                            </div>
                            <p class="mb-2">info@92jcx.com</p>
                            <p class="mb-0">service@92jcx.com</p>
                        </div>
                        <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="0.4s">
                            <div class="btn-square mx-auto mb-3">
                                <i class="fa fa-phone fa-2x text-white"></i>
                            </div>
                            <p class="mb-2">+886 2-82617221</p>
                            <p class="mb-0">+886 2-82617221</p>
                        </div>
                        <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="0.5s">
                            <div class="btn-square mx-auto mb-3">
                                <i class="fa fa-map-marker-alt fa-2x text-white"></i>
                            </div>
                            <p class="mb-2">土城店(近捷運海山站)</p>
                             <!-- https://goo.gl/maps/4SYVKqdwmE2BnrLs6    -->
                            <p class="mb-0">236 新北市土城區 中央路一段171號
                                (<a href="https://www.google.com/maps/place/236新北市土城區中央路一段171號/@24.9873634,121.4442219,17z/data=!3m1!4b1!4m5!3m4!1s0x346802cb25e8b9e5:0x5cab19e9f80bfca2!8m2!3d24.9873586!4d121.4464106">地圖</a>)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact Start -->
    