    <!-- Footer Start -->
    <div class="container-fluid bg-dark footer mt-5 py-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-primary mb-4">本舖:土城店(近捷運海山站)</h4>
                    <!-- https://goo.gl/maps/4SYVKqdwmE2BnrLs6    -->
                    <p class="mb-2"><i class="fa fa-map-marker-alt text-primary me-3"></i>新北市土城區中央路一段171號
                        (<a href="https://www.google.com/maps/place/236新北市土城區中央路一段171號/@24.9873634,121.4442219,17z/data=!3m1!4b1!4m5!3m4!1s0x346802cb25e8b9e5:0x5cab19e9f80bfca2!8m2!3d24.9873586!4d121.4464106">地圖</a>)</p>
                    <p class="mb-2"><i class="fa fa-phone-alt text-primary me-3"></i>+886 2-82617221</p>
                    <p class="mb-2"><i class="fa fa-envelope text-primary me-3"></i>info@92jcx.com</p>
                    <div class="d-flex pt-3">
                        <a class="btn btn-square btn-primary rounded-circle me-2" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-primary rounded-circle me-2" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-primary rounded-circle me-2" href="#"><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-square btn-primary rounded-circle me-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-primary mb-4">快速連結</h4>
                    <a class="btn btn-link" href="index.html">首頁</a>
                    <a class="btn btn-link" href="about.html">關於我們</a>
                    <a class="btn btn-link" href="contact.html">聯絡我們</a>
                    <a class="btn btn-link" href="services.html">我們的服務</a>
                    <a class="btn btn-link" href="product.html">產品型錄</a>
                   
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-primary mb-4">工作時間</h4>
                    <p class="mb-1">周一 - 周五</p>
                    <h6 class="text-light">09:00 am - 07:00 pm</h6>
                    <p class="mb-1">周六</p>
                    <h6 class="text-light">09:00 am - 12:00 pm</h6>
                    <p class="mb-1">周日</p>
                    <h6 class="text-light">公休</h6>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-primary mb-4">訂閱優惠訊息</h4>
                    <p>若訂閱我們的訊息，您將收到最新的優惠及特賣通知</p>
                    <div class="position-relative w-100">
                        <input class="form-control bg-transparent w-100 py-3 ps-4 pe-5" type="text" placeholder="你的電子信箱">
                        <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">訂閱</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
    