    <!-- Navbar Start -->
    <div class="container-fluid bg-white sticky-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg bg-white navbar-light py-2 py-lg-0">
                <a href="index.html" class="navbar-brand">
                    <img class="img-fluid" src="img/logo2.png" alt="Logo">
                </a>
                <button type="button" class="navbar-toggler ms-auto me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto">
                        <a href="index.html" class="nav-item nav-link active">首頁</a>
                        <a href="about.html" class="nav-item nav-link">關於我們</a>
                        <a href="product.html" class="nav-item nav-link">沉香專賣</a>
                        <a href="store.html" class="nav-item nav-link">門市</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">商品型錄</a>
                            <div class="dropdown-menu bg-light rounded-0 m-0">
                                <a href="#" class="dropdown-item">香環</a>
                                <a href="#" class="dropdown-item">臥香</a>
                                <a href="#" class="dropdown-item">立香</a>
                                <a href="#" class="dropdown-item">代工服務</a>
                            </div>
                        </div>
                        <a href="contact.html" class="nav-item nav-link">聯絡我們</a>
                    </div>
                    <div class="border-start ps-4 d-none d-lg-block">
                        <button type="button" class="btn btn-sm p-0"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->