    <!-- Products Start -->
    <div class="container-fluid product py-5 my-5">
        <div class="container py-5">
            <div class="section-title text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <p class="fs-5 fw-medium fst-italic text-primary">我們的產品</p>
                <h1 class="display-6">沉香的兩大系列：惠安系、星洲系。</h1>
                <h4 class="text-primary">舉凡惠安系產區(例如:芽莊...等)、星洲系各種產區 (例如:達拉幹、馬拉OK、西馬、汶萊、加里萬丹...等)的高檔沉香料，本公司早有收藏。</h4>
            </div>
            <div class="owl-carousel product-carousel wow fadeInUp" data-wow-delay="0.5s">
                <a href="" class="d-block product-item rounded">
                    <img src="img/product-1.jpg" alt="">
                    <div class="bg-white shadow-sm text-center p-4 position-relative mt-n5 mx-4">
                        <h4 class="text-primary">香環</h4>
                        <span class="text-body">香環(或稱 盤香)，沉香香環因為焚燒的時間不同又分2小時、和4小時、及24小時等三種規格，本公司各種級別的產品及售價如下...</span>
                    </div>
                </a>
                <a href="" class="d-block product-item rounded">
                    <img src="img/product-2.jpg" alt="">
                    <div class="bg-white shadow-sm text-center p-4 position-relative mt-n5 mx-4">
                        <h4 class="text-primary">臥香</h4>
                        <span class="text-body">「臥香」 產品中有沉香與檀香兩種品類，長度上有分5寸、7寸、及1尺三種常見的規格，其中以 7寸 的臥香最為普遍。對於有特殊長度需求的客戶，本公司也可為客戶生產『客製化』規格的產品。</span>
                    </div>
                </a>
                <a href="" class="d-block product-item rounded">
                    <img src="img/product-3.jpg" alt="">
                    <div class="bg-white shadow-sm text-center p-4 position-relative mt-n5 mx-4">
                        <h4 class="text-primary">立香</h4>
                        <span class="text-body">本舖提供的立香有沉香、檀香、梢楠…等三種立香。尺寸上有尺3、尺6兩種規格。</span>
                    </div>
                </a>
                <a href="" class="d-block product-item rounded">
                    <img src="img/product-4.jpg" alt="">
                    <div class="bg-white shadow-sm text-center p-4 position-relative mt-n5 mx-4">
                        <h4 class="text-primary">其他</h4>
                        <span class="text-body">特殊的小盤香，本舖有 梢楠、艾草 只有兩種產品</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- Products End -->